@font-face {
  font-family: 'iconfont';  /* project id 483680 */
  src: url('//at.alicdn.com/t/font_483680_k7x1ds6x3jbawcdi.eot');
  src: url('//at.alicdn.com/t/font_483680_k7x1ds6x3jbawcdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_483680_k7x1ds6x3jbawcdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_483680_k7x1ds6x3jbawcdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_483680_k7x1ds6x3jbawcdi.svg#iconfont') format('svg');
}

.axon-icon {
  font-family: 'iconfont', serif;
  font-size: 20px;
  color: #ffffff;
}

.axon-icon:before {
  content: attr(icon);
}
